.container
  %nav.navbar.navbar-inverse{:role => "navigation"}
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#default-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Flowering', root_path, :class => 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #default-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - unless user_signed_in?
          %li= link_to 'Sign Up', new_user_registration_path
          %li= link_to 'Login',   new_user_session_path
        - else
          %li
            %p.navbar-text
              Welcome, #{current_user.email}, 
              = link_to 'Profile', edit_user_registration_path
              = link_to 'Logout', destroy_user_session_path, :method => :delete